.sort-results {
    display: flex;
    text-align: left;
    align-items: center;
}

.sort-results:empty {
    min-height: 42px;
}

.sort-results__label {
    margin-inline: 0.5rem;
    white-space: nowrap;
}