.card {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

.card:empty {
    padding-top: 184%;
}

.card__img {
    aspect-ratio: 2/3;
    height: auto;
    margin-bottom: 1rem;
    object-fit: cover;
    vertical-align: top;
    width: 100%;
}

.card__no-image {
    align-items: center;
    aspect-ratio: 2/3;
    background-color: #555;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: center;
    opacity: 0.3;
}

.card__no-image-icon {
    fill: currentColor;
    width: 40%;
}

.card__no-image-title {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card__body {
    padding-inline: 1rem;
}
  
.card__title {
    margin-top: 0;
    margin-bottom: 1rem;
}
  
.card__info {
    margin-top: 0;
}