form {
    display: inline-block;
    margin-bottom: 3rem;
}

.form__field {
    display: flex;
}

input:has(+ button) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}