#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  margin-bottom: 3rem;
}

input:has(+ button) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 305px));
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #333;
  border-radius: 8px;
}

.card__img {
  aspect-ratio: 2/3;
  display: inline-block;
  width: 100%;
}
